<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
    <title>新风机组</title>
    <script th:src="@{/js/deviceMonitor/ht/configs/htconfig.js}"></script>
    <script th:src="@{/js/deviceMonitor/ht/lib/core/ht.js}"></script>
    <script th:src="@{/js/deviceMonitor/ht/lib/core/ht-ui.js}"></script>
    <script th:src="@{/js/deviceMonitor/ht/lib/plugin/ht-obj.js}"></script>
    <script th:src="@{/js/deviceMonitor/ht/lib/jquery.min.js}"></script>
    <script th:src="@{/js/deviceMonitor/ht/freshAirUnitIndex.js}"></script>
</head>
<body>
</body>
</html>